@font-face {
    font-family: "Futura";
    src: url(/static/FuturaExtended.ttf) format("truetype");
}

html {
    margin-bottom: 65px;
}

body * {
    font-family: "Futura";
}

body {
    /*make sure navbar covers no content*/
    padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
    body {
        padding-bottom: : 0px;
    }
}

img {
    image-orientation: from-image;
}


.answers{
  text-align: left;
}


.bio_entry {
    width: 90%;
    height: 75vh;
    text-align: top;
    /*padding-top: 50px;*/
}

.profile_photo {
    max-width: 75vw;
    /*max-width: 50%;*/
}

.profile_content {
    width: 100%;
    text-align: center;
}

.profile_content_inner {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 100%;
    text-align: center;
    border: #C0DF5F;
}

.navbar-dark {
    background-color: #AEBFB4;
}

.navbar_inner {
    margin: auto;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbutton {
    display: inline-block;
    position: relative;
}

.file_center {
    margin: 0 auto;
}

.profile_thumb {
    /*object-fit: scale-down;*/
    /*height: auto;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    float: right;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.navbar {
    padding-top: 20px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.thumbnail img {
    height: 100%;
    width: auto;
}

.user_bio {
    word-wrap: break-word;
}

.icon-default {
    width: 32px;
    height: auto;
}

.main-icon {
    min-width: 175px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 25%;
}

/* CSS used here will be applied after bootstrap.css */
.badge-btn {
    background: #1b5591;
    padding: 7px 14px;
    border-radius: 17px;
    position: relative;
}
.badge-xs {
    position: absolute;
    right: 15px;
    font-size: 9px;
    background: #d8e7fc;
    padding: 5px;
    color: #333;
}

.bio-textarea{
    width: 100%;
}