{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<!--  -->
<div class="text-center ">
    A project by us nerds
    <p>
        <a class="text-warning" href="https://bitbucket.org/Charlied5/">Charlie Davidson</a>
    </p>
    <p>
        <a class="text-warning" href="https://bitbucket.org/TheCDC/">Christopher Chen</a>
    </p>
    <p>
        <a class="text-warning" href="https://bitbucket.org/rendenyoder/">Renden Yoder</a>
    </p>
</div>
<div class="text-center">
    <p>
        <!--  -->
        {% for p in range(10) %}
        <a href="/po{% for c in range(p+1) %}o{% endfor %}p">💩</a>
        <!--  -->
        {% endfor %}
    </p>
    <p>
        <!--  -->
        {% for p in range(10) %}
        <a href="/{% for c in range(p+1) %}ha{% endfor %}">😂</a>
        <!--  -->
        {% endfor %}
    </p>
</div>
{% endblock %}
