{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="container-fluid text-center">
    <div clas="row text-center">
        <div class="col text-center">
            <h1>Leaderboards</h1>
            <!--  -->
            {% if current_user.is_authenticated %} Hi {{ current_user.name }}!
            <!--  -->
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/search" class="btn navbar-btn img-circle  profile_thumbnail">
                <img src="/static/img/mag_glass.png" alt="" height="35px">
            </a>
            <h2>
            {{current_user.school.name}} Leaderboard
            </h2>
            <div class="container">
                {% for d in local_leaderboard %}
                <div class="row list-group-item">
                    <div class="col col-sm-4">
                        <h3>
                            {{loop.index}}. {{d.user.name}}
                            </h3>
                    </div>
                    <div class="col col-sm-4">
                        <a href="{{d.user.url}}">
                            <img class="img-responsive center-block main-icon" src="{{d.user.photo_url}}">
                        </a>
                    </div>
                    <div class="col col-sm-4">
                        <h3>
                             {{d.score}} points
                             </h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h2>
            Global Leaderboard
            </h2>
            <div class="container">
                {% for d in global_leaderboard %}
                <div class="row list-group-item">
                    <div class="col col-sm-4">
                        <h3>
                               {{loop.index}}. {{d.user.name}}
                               </h3>
                    </div>
                    <div class="col col-sm-4">
                        <a href="{{d.user.url}}">
                            <img class="img-responsive center-block main-icon" src="{{d.user.photo_url}}">
                        </a>
                    </div>
                    <div class="col col-sm-4">
                        <h3>
                                {{d.score}} points
                                </h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
