{% extends "bootstrap/base.html" %}
<!--  -->
{% block head %}
<!--  -->
{{super()}}
<!--  -->
{% endblock %}
<!--  -->
{% block styles %} {{super()}}
<link rel="stylesheet" href="/static/styles.css">
<link rel="stylesheet" href="/static/theme.css">
<link rel="stylesheet" href="/static/screen-adjust.css">
<!--  -->
{% endblock %}
<!--  -->
{% block scripts %} {%- if current_user.is_authenticated %}
<div class="hidden" id="USERNAME">{{current_user.name}}</div>
{% endif %}
<script src="/static/scripts.js"></script>
{{super()}}
<!--  -->
{% endblock %}
<!--  -->
{% block navbar %}
<!--  -->
{% if request.path not in ["/landing","/register", "/login"] %}
<nav {% if current_user is defined and request.path=="/profile/edit" %}

 class="navbar navbar navbar-dark navbar-fixed-bottom" {% else %} class="navbar navbar-inverse navbar-fixed-bottom" {% endif %} style="padding-top: 0px; border: none; background-color:#68b1a0;">

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Home button -->
                <a href="/" class="btn navbar-btn">
                    {% if request.path in ("/", "/login","/home") %}
                    <img src="/static/img/active_home.png" alt="Home [active]" class="icon-default icon-relative">
                    {% else %}
                    <img src="/static/img/home.png" alt="Home" class="icon-default icon-relative">
                    {% endif %}
                </a>
                <!-- Check -->
                {%- if current_user.is_authenticated %}
                <a href="/to_find" class="btn navbar-btn">
                {% else %}
                <a class="btn navbar-btn">
                {% endif %}
                    {%- if request.path == "/to_find" %}
                    <img src="/static/img/active_pin.png" alt="Near Me [active]" class="icon-default icon-relative">
                    {% else %}
                    <img src="/static/img/pin.png" alt="Near Me " class="icon-default icon-relative">
                    {% endif %}
                </a>
                <!-- Achievements -->
                {%- if current_user.is_authenticated %}
                <a href="/leaderboard" class="btn navbar-btn"> 
                {% else %}
                <a class="btn navbar-btn"> 
                {% endif %}
                    {%- if request.path == "/leaderboard" %}              
                    <img src="/static/img/active_trophy.png" alt="Leaderboard [active]" class="icon-default icon-relative">
                    {% else %}
                    <img src="/static/img/trophy.png" alt="Leaderboard " class="icon-default icon-relative">
                    {% endif %}
                </a>
                <!-- Bee -->
                {%- if current_user.is_authenticated %}
                <a href="{{current_user.url}}" class="btn navbar-btn">
                {% else %}
                <a class="btn navbar-btn">
                {% endif %}
                    {%- if request.path == current_user.url or request.path == "/survey" or request.path == "/profile/edit" %}
                    <img src="/static/img/active_bee.png" alt="Profile [active]" class="icon-default icon-relative">
                    {% else %}
                    <img src="/static/img/bee.png" alt="Profile" class="icon-default icon-relative">
                    {% endif %}
                </a>
                <!-- Pin -->
                {%- if current_user.is_authenticated %}
                <a href="/users_connections" class="btn navbar-btn">
                {% else %}
                <a class="btn navbar-btn resize-check">
                {% endif %}
                    {%- if request.path == "/users_connections" %}
                    <img src="/static/img/active_check.png" alt="Search [active]" class="icon-default icon-relative">
                    {% else %}
                    <img src="/static/img/check.png" alt="Search" class="icon-default icon-relative">
                    {% endif %}
                    <span id="incoming" class="badge badge-success badge-xs" style="background-color:red;"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
{% endif %}
<!--  -->
{% endblock %}
