{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="container-fluid text-center">
    <div clas="row text-center">
        <div class="col text-center">
            <img class="img-responsive center-block main-icon" src="/static/img/logo.png" alt="no" width="25%">
            <a href="/about">
            About Us
            </a>
            <h1>Welcome to BFriend!</h1>
            <!--  -->
            {% if current_user.is_authenticated %} Hi {{ current_user.name }}!
            <!--  -->
            {% endif %}
            <h2>What is BFriend?</h2>
            <p>
                BFriend is a social scavenger hunt game that encourages users to participate in real life exchanges by connecting them through thought-provoking survey questions.
            </p>
            {% if current_user.is_authenticated %}
            <p>
                Get started by putting your face and some words on your
                <a href="{{current_user.url}}"><img src="/static/img/active_bee.png" alt="Profile [active]" class="icon-default icon-relative"></a> and then answering survey questions on the
                <a href="/survey" class="btn btn-success">survey</a> page.
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/search" class="btn navbar-btn img-circle  profile_thumbnail">
                <img src="/static/img/mag_glass.png" alt="" height="35px">
            </a>
        </div>
    </div>
</div>
{% endblock %}
