{% extends 'base.html' %} {% block content %} {{super()}}
<body style="background-color:#68b1a0;">
<div class="container-fluid text-center">
    <div class="row text-center">
        <div class="col text-center">
            </br>
            </br>
            </br>
            <h1 style="font-size: 32pt; color:white"> BFriend </h1>
            <h1 style="font-size: 16pt; color:white"> be social. be brave. be yourself. </h1>
            <a href="/about">
                </br>
            <img class="img-responsive center-block main-icon" src="/static/img/icon-no-color.png" alt="no" width="20%">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% if message is defined %}
            <p class="control-group error"> {{message}} </p>
            {% endif %}
            <form action="/login" method="post">
                <p>
                    <a class="btn btn-sucess" href="/login"  style="padding: 3px 32px; color:#68b1a0; background-color:white;">login</a>
                </p>
                <p>
                    <a class="btn btn-sucess" href="/register"  style="padding: 3px 25px; color:#68b1a0; background-color:white;">sign up</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
