{% extends 'base.html' %} {% block content %} {{super()}}
<body style="background-color:#68b1a0;">
<div class="container-fluid text-center">
    <div class="row text-center">
        <div class="col text-center">
            </br>
            </br>
            </br>
            <h1 style="font-size: 32pt; color:white"> BFriend </h1>
            <h1 style="font-size: 16pt; color:white;"> be social. be brave. be yourself. </h1>
            <a href="/about">
                </br>
            <img class="img-responsive center-block main-icon" src="/static/img/icon-no-color.png" alt="no" width="5%">
            </a>
            <p style="color:white;">
            Login
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% if message is defined %}
            <p class="control-group error"> {{message}} </p>
            {% endif %}
            <form action="/login" method="post">
                <p>
                    <input type="text" style="color:#4c4c4c; background-color:white;" name="username" placeholder="username">
                </p>
                <p>
                    <input type="password" style="color:#4c4c4c; background-color:white;" name="password" placeholder="password">
                </p>
                <input class="btn btn-sucess" type="submit" value="login" style="padding: 3px 32px; color:#68b1a0; background-color:white;">
            </form>
            </br>
            <a class="btn btn-sucess" href="/register"  style="padding: 3px 25px; color:#68b1a0; background-color:white;">sign up</a>
        </div>
    </div>
</div>
</body>
{% endblock %}
