{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}} {% if current_user.is_authenticated %}
<div class="text-center">
    <div>
        You are: {{ current_user.name }}
    </div>
    <form action="/profile/edit" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row text-center">
                <div class="col col-lg-4">
                    <h1>
                    Profile picture
                </h1>
                    <input class="file_center" type="file" name="photo" capture="camera" accept="image/*"> School
                    <p>
                        <select name="school">
                            <option disabled selected value> Select your school </option>
                            <!--  -->
                            {% for s in schools %}
                            <!--  -->
                            <option value="{{s.id}}">{{s.name}}</option>
                            <!--  -->
                            {% endfor %}
                        </select>
                    </p>
                </div>
                <div class="col col-lg-8">
                    <h1>
                        Your bio
                    </h1>
                    <div>
                        <textarea class="form-control bio-textarea" type="text" name="bio" class="bio_entry">{{current_user.bio}}</textarea>
                    </div>
                    <div>
                        <input class="form-control" class="btn btn-default" type="submit" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="center">
        <form action="/delete_profile" method="post" style="padding-top: 20px;" onsubmit="return confirm('Are you sure you want to delete your profile?');">
            <input type="submit" class="btn btn-danger" value="Delete profile">
        </form>
    </div>
</div>
{% endif %}
<!--  -->
{% endblock %}
