{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="container-fluid text-left">
    <div class="row">
        <div class="col col-sm-12 text-right" style="position:relative; padding-top:10px; padding-bottom:10px;">
            <!--  -->
            {% if other_user is defined and other_user == current_user %}
            <!--  -->
            <a href="/profile/edit" class="btn" style="color:#4c4c4c; font-size:14px; background-color:#c0d45f">Edit profile</a>
            <!--  -->
            {% endif %}
            <a href="/logout" class="btn btn-warning" style="background-color:#68b1a0; color:#4c4c4c; border: none;">Logout</a>
        </div>
    </div>
    <div class="row text-left">
        <div class="col col-sm-2 text-left">
            <!--  -->
            {% if other_user is defined and other_user != current_user %}
            <!-- Handle case of viewing foreign profile -->
            {% if other_user.photo is defined%}
            <img src="{{other_user.photo_url}}" alt="" class="img-responsive">
            <!--  -->
            {% else %}
            <!--  -->
            <p style="color:#c0d45f;">
                Oops! Looks like they don't have a face yet!
            </p>
            <!--  -->
            {% endif %}
            <!--  -->
            {% else %}
            <!-- Viewing your profile -->
            <h1>You!</h1>
            <img src="{{current_user.photo_url}}" alt="Your face could be here!" class="img-responsive">
            <!--  -->
            {% endif %}
        </div>
        <div class="col col-xs-10">
            <!--  -->
            {% if other_user is defined and other_user != current_user %}
            <h1 style="font-size:large; color:#68b1a0;">Viewing user: {{ other_user.name }}</h1>
            <!--  -->
            {% else %}
            <h1 style="font-size:large; color:#68b1a0;">{{ current_user.name }}</h1>
            <!--  -->
            {% endif %}
            <h1 style="font-size:large;">{{ other_user.school.name }}</h1>
            <h1 style="font-size:large;">Score: {{ points }}</h1>
            <div class="user_bio">
                <!--  -->
                {% if other_user is defined and other_user != current_user %}
                <!-- Handle case of viewing foreign profile -->
                <h2 style="font-size:medium; color:#7a7777;">Their words</h2>
                <!--  -->
                {% for line in other_user.bio.splitlines() %}
                <!--  -->
                <font style="font-size:small; color:#7a7777;">"{{line}}"</font>
                <br/>
                <!--  -->
                {% endfor %}
                <!--  -->
                {% else %}
                <!-- Viewing your profile -->
                <h2 style="font-size:medium; color:#7a7777;">Your words</h2>
                <!--  -->
                {% for line in current_user.bio.splitlines() %}
                <!--  -->
                <font style="font-size:small; color:#7a7777;">"{{line}}"</font>
                <br>
                <!--  -->
                {% endfor %}
                <!--  -->
                {% endif %}
            </div>
        </div>
    </div>
    <!--  -->
    {% if other_user == current_user%}
    <div class="row text-center">
        <div class="col">
            <h3>Questions</h3>
            <p><a href="/survey" class="btn btn-default" style="box-shadow: 1px 1px 1px #888888;">Answer</a> to get a better user experience and receive more challenges! </p>
        </div>
    </div>
    <!--  -->
    {% endif %}
    <div class="row" style="position:relative; padding-left:15px;">
        <div class="col text-center">
            <h3>recent people</h3>
            <div class="container-fluid">
                <div class="row">
                    <!--  -->
                    {% for r in recent_connections %}
                    <div class="col-xs-2">
                        <a href="{{r.target.url}}">
                            <img src="{{r.target.photo_url}}" class="img-responsive">
                        </a>
                    </div>
                    <!--  -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
