{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="container-fluid text-center">
    <div clas="row text-center">
        <div class="col text-center">
            <img class="img-responsive center-block main-icon" src="/static/img/logo.png" alt="no" width="25%">
            <!--  -->
            {% if message is defined %}
            <!--  -->
            {{message}}
            <!--  -->
            {% endif %}
            <!--  -->
            {% if success %}
            <!--  -->
            {% if source is defined %}
            <h1>Handshake received from {{source.name}}!</h1>
            <!--  -->
            {% endif %}
            <!--  -->
            {% endif %}
            <h1 id="location_id">Receiving location data...</h1>
            <!--  -->
        </div>
    </div>
</div>
<script>
setTimeout(function() {

        window.location = "/users_connections"
    },
    3000)
</script>
<script src="/static/location.js"></script>
{% endblock %}
