{% extends 'base.html' %} {% block content %} {{super()}}
<body style="background-color:#68b1a0;">
<div class="center">
    <div class="col text-center">
        </br>
        </br>
        </br>
        <h1 style="font-size: 32pt; color:white"> BFriend </h1>
        <h1 style="font-size: 16pt; color:white;"> be social. be brave. be yourself. </h1>
        </br>
        <img class="img-responsive center-block main-icon" src="/static/img/icon-no-color.png" alt="no" width="18%">
        <p style="color:white;">
            Register
        </p>
    </div>
    <!--  -->
    {% if message is defined %}
    <div class="alert-warning">
        <p>
            <!--  -->
            {{message}}
        </p>
    </div>
    <!--  -->
    {% endif %}
    <form action="/register" method="post">
        <p>
            <input type="text" name="username" placeholder="Username">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <select name="school">
            <option disabled selected value> Select your school </option>
                <!--  -->
                {% for s in schools %}
                <!--  -->
                <option value="{{s.id}}">{{s.name}}</option>
                <!--  -->
                {% endfor %}
            </select>
        </p>
        <input class="btn btn-sucess" type="submit" style="padding: 3px 25px; color:#68b1a0; background-color:white;" value="sign up">
    </form>
    </br>
    <a class="btn btn-sucess" href="/login" type="submit" style="padding: 3px 32px; color:#68b1a0; background-color:white;">login</a>
</div>
</body>
{% endblock %}
