{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="container-fluid">
    <form action="/search" method="GET" enctype="multipart/form-data">
        <div class="row">
            <div class="text-center ">
                </br>
                </br>
                <div class="col">
                    <input type="text" name="username" value="{{query}}" {% if query is not defined %} autofocus="autofocus" {% endif %}>
                </div>
                </br>
                <div class="col">
                    <button class="btn btn-success" type="submit" name="search" value="Search">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <!--  -->
                {% if results is defined %}
                <div class="text-center">
                    <h1>Found these users:</h1>
                    <div class="container">
                        <ul class="list-group center text-center ">
                            {% for user in results %}
                            <a class="" href="{{user.url}}">
                                <li class="list-group-item btn btn-default btn-block">
                                    {{user.name}}
                                </li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!--  -->
                <div class="col">
                    {% if page > 1 %}
                    <button type="submit" class="btn btn-info" name="page" value="{{page-1}}">{{page}}</button>
                    <!--  -->
                    {% endif %}
                    <!--  -->
                    {{page}}/{{num_pages}}
                    <!--  -->
                    {% if more %}
                    <button type="submit" class="btn btn-info" name="page" value="{{page+1}}">{{page+1}}</button>
                    <!--  -->
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <!--  -->
        </div>
    </form>
</div>
{% endblock %}
