{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="container-fluid text-center">
    <div clas="row text-center">
        <div class="col text-center">
            <img class="img-responsive center-block main-icon" src="/static/img/logo.png" alt="no" width="25%">
            <!--  -->
            {% if recipient is defined %}
            <h1>Handshake sent to {{recipient.name}}!</h1>
            <h1 id="location_id">Receiving location data...</h1> {% endif %}
        </div>
    </div>
</div>
<script src="/static/location.js"></script>
{% endblock %}
