{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<!--  -->
{% if debug is defined %}
<!--  -->
{{debug}}
<!--  -->
{% endif %}
<div class="container text-center">
    <div class="row">
        <div class="col col-md-4">

            <div style="color: grey;">*After answering a question or five, click on the <a href="/to_find" ><img src="static/img/active_pin.png" style="width: 20px;"></a> icon!</div>
            </br>
            {% if message is defined and message != None %}
            <div class="warning bg-info">
                {{message}}
            </div>
            {% endif %}
            <!--  -->
            {% if q is defined %}
            <div>
                {{ q.body }}
            </div>
            <!--  -->
            <form action="/survey" method="post" enctype="multipart/form-data">
                <input class="hidden" type="text" name="question" style="font-size: 24px;" value="{{q.id}}">
                </br>
                <!--  -->
            <div class="answers" style="text-align: left;">
                {% for a in q.answers_list %}
                <!--  -->
                  <button class="btn btn-primary" type="submit" name="response" style="color:#4c4c4c; height: 25px; width: 25px; background-color: rgb(190, 190, 190);" value="{{loop.index0}}"></button>
                <font style="padding-left: 0.40cm; color:#4c4c4c; font-size: 20px;">{{ a }}</font>
                <hr style="width:82%; border-width:2px; color:#4c4c4c; opacity: 0.4; margin-top: -0.3em;">
                <br>
                <br>
                <!--  -->
                {% endfor %}
            </div
                <!-- <button class="btn btn-next" type="submit" name="response" style="color:#4c4c4c; box-shadow: 1px 1px 1px #888888;" value="next">next</button> -->
            </form>
            </br>
            <!--  -->
            {% endif %}
        </div>
        <!--  -->
        {% if answered is defined %}
        <!--  -->
        <div class="col col-md-8">
            <ul class="list-group">
                {% for answer in answered %}
                <li class="list-group-item">
                    {{answer.question.body}}
                    <div>You said:
                        <button class="btn btn-success"> {{answer.question.answers_list[answer.response]}}</button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        <form action="/survey" method="get" enctype="multipart/form-data">
            {% if page > 0 %}
            <button class="btn btn-info" name="page" value="{{page-1}}"> {{page}}</button>
            {% endif %}
            <!--  -->
            {{page+1}}/{{num_pages+1}}
            <!--  -->
            {% if more %}
            <button class="btn btn-info" name="page" value="{{page+1}}"> {{page+2}}</button>
            <!--  -->
            {% endif %}
        </form>
        </div>
    </div>
    <!--  -->
    {% endif %}
</div>
<!--  -->
{% endblock %}
