{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="text-center">
    <p id="location_id">
    </p>
</div>
<div class="container-fluid text-center">
    <div clas="row text-center">
        <div class="col text-center">
            <!--  -->
            {% if current_user.is_authenticated %}
            <h2>Hi {{ current_user.name }}!</h2>
            <!--  -->
            {% endif %}
            <!--  -->
            {% if objectives is defined %}
            <div class="text-center">
                <h1>Your objectives:</h1>
                <!--  -->
                {% if objectives|length == 0 %} No objectives? Answer more
                <a class="btn btn-success" href="/survey">questions</a> and make sure you have chosen a school for your
                <a class="btn btn-success" href="/profile/edit">profile</a>!
                <!--  -->
                {% endif %}
                <div class="container">
                    <ul class="list-group center text-center ">
                        {% for obj in objectives %}
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <!-- user-facing data -->
                                <div class="row">
                                    <img src="{{obj.target.photo_url}}" alt="" class="img-responsive center-block main-icon" width="25%">
                                    <div class="col col-sm-6">
                                        Find: <a class="btn btn-success" href={{obj.target.url}}>{{obj.target.name}}</a>
                                    </div>
                                    <div class="col col-sm-6">
                                        Points: {{obj.points}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col ">
                                        Because you answered this question the same: <span class="text-warning">"{{obj.reason.body}}"</span> Your answer: <span class="text-success">"{{answers[loop.index0].response_body}}"</span>
                                    </div>
                                </div>
                                <form method="POST" action="/handshake">
                                    <!-- internal data section -->
                                    <input class="hidden" type="text" name="target_objective" value="{{obj.id}}">
                                    <input class="hidden user-lat" type="text" name="user_location_lat">
                                    <input class="hidden user-long" type="text" name="user_location_long">
                                    <input class="hidden" type="text" name="handshake_action" value="extend">
                                    <input class="btn btn-success gottem-button" type="submit" value="Got 'em!">
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/location.js"></script>
{% endblock %}
