{% extends 'base.html' %}
<!--  -->
{% block content %} {{super()}}
<div class="text-center">
    <p id="location_id">
    </p>
</div>
<div class="container-fluid text-center">
    <div clas="row text-center">
        <div class="col text-center">
            <h1>Who's found you!</h1>
            <!--  -->
            {% if current_user.is_authenticated %} Hi {{ current_user.name }}!
            <!--  -->
            {% endif %}
            <!--  -->
            {% if handshakes is defined and handshakes|length > 0 %}
            <div class="text-center">
                <h1>Your handshakes:</h1>
                <div class="container">
                    <ul class="list-group center text-center ">
                        {% for obj in handshakes %}
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <img src="{{obj.source.photo_url}}" alt="" class="img-responsive center-block main-icon" width="25%">
                                    <div class="col col-sm-6">
                                        Who found you: <a class="btn btn-success" href={{obj.source.url}}>{{obj.source.name}}</a>
                                    </div>
                                    <div class="col col-sm-6">
                                        Points: {{obj.points}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col ">
                                        Because you answered this question the same: <span class="text-warning">"{{obj.reason.body}}"</span>
                                    </div>
                                </div>
                                <form method="POST" action="/handshake">
                                    <input class="hidden" type="text" name="target_objective" value="{{obj.id}}">
                                    <input class="hidden user-lat" type="text" name="user_location_lat">
                                    <input class="hidden user-long" type="text" name="user_location_long">
                                    <input class="hidden" type="text" name="handshake_action" value="receive">
                                    <input class="btn btn-success gottem-button" type="submit" value="Confirm!">
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="text-center ">
                <p>No new connections :/</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/location.js"></script>
{% endblock %}
